header{
    background-color:black;
    border: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    

}
header nav ul li {
  display: inline-block;
  padding: 15px 0 0 50px;
}


section{
  background-color: white;
  color: black;
  bottom: 20px;
  

}
textarea{
  align-self: stretch;

}
  element.style {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;

}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    font-size: 20px;
    border: 20px;
    line-height: 100px;
  }
  
  